[submodule "third-party/peeler"]
	path = third-party/peeler
	url = https://github.com/pappadf/peeler
[submodule "third-party/single-step-tests"]
	path = third-party/single-step-tests
	url = https://github.com/SingleStepTests/m68000.git
